* {
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: wheat;
  margin: 0;
}

header {
  background-color: burlywood;
  height: 6em;
  margin: 0;
  padding: 1%;
  margin-bottom: 1em;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.logged {
  display: none;
}
.not-logged {
  display: inline-block;
}

.window {
  display: none;
  background-color: burlywood;
  min-width: 12em;
  position: absolute;
  left: 50%;
  top: 30vh;
  transform: translate(-50%, 0);
  border-radius: 20px;
  border: 1px solid brown;
}

.window .window-title {
  line-height: 2em;
  background: wheat;
  font-weight: 100;
  font-size: 2em;
  border-radius: 20px 20px 0em 0em;
  text-align: center;
}
.window .window-content {
  padding: 1em 2em 3em 2em;
}
.window .window-content .field input {
  padding-left: 1em;
  border-radius: 20px;
  border: 1px solid brown;
}
.window .window-content .field {
  height: 2em;
}

/* Settings Window */
#settings-window {
  max-width: 30vw;
  min-width: 20em;
}
#settings-window .window-content .field input {
  line-height: 2em;
  max-width: 5vw;
}
table tr td:nth-child(2) {
  padding-left: 2em;
}

/* Help Window */
#help-window {
  max-width: 50vw;
  min-width: 20em;
}

/* Ranking Window */
#ranking-window {
  max-width: 60vw;
  min-width: 30em;
}

/* Login Window */
#login-window {
  max-width: 20vw;
  min-width: 12em;
}
#login-window .window-content .field {
  position: relative;
  width: 100%;
  margin-top: 1.6em;
}
#login-window .window-content .field input {
  height: 100%;
  width: 100%;
}
#login-window .window-content .field label {
  position: relative;
  padding-left: 1em;
  top: -3.2em;
}
#login-window .window-content .field button {
  position: relative;
  height: 100%;
  width: 100%;
  background: wheat;
  padding: 0 0 0 0;
  font-size: 1.1em;
  font-weight: 400;
  top: 0.6em;
  margin: auto;
  margin-top: 1.6em;
  cursor: pointer;
}

.btns-log {
  position: absolute;
  right: 2vw;
  top: 1em;
}
.btns-left {
  position: fixed;
  left: 2vw;
}
.btns-right {
  position: fixed;
  right: 2vw;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  display: block;
  padding: 1em 1em 1em 1em;
  border-radius: 3em;
  cursor: pointer;
}

.buttons button img {
  max-width: 3.5vw;
}

.board {
  position: relative;
  top: 20vh;
  display: flex;
  background-color: SaddleBrown;
  max-width: 70vw;
  height: 30vw;
  border-radius: 3em;
  padding: 2%;
  margin: auto;
  justify-content: flex-start;
}

.sidesection {
  display: flex;
  flex-grow: 1;
}

.midsection {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
}

.midrow {
  display: flex;
  flex-grow: 1;
}

.n-seeds {
  position: relative;
  left: 3.5vw;
  flex-grow: 1;
}

.seeds {
  position: absolute;
  background-color: #51bd1f;
  width: 40px;
  height: 40px;
  border-radius: 40px 10px;
}

.pot {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  flex-grow: 1;
  margin: 5px;
  border-radius: 3em;
}

/*Styles for a table*/
.container {
  min-width: 30em;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.table {
  width: 100%;
}

.table-header {
  display: flex;
  width: 100%;
  font-weight: 600;
}

.table-row {
  display: flex;
  width: 100%;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}
