header {
  background-color: burlywood;
  margin-top: -25px;
  margin-left: -7px;
  margin-right: -7px;
}

.board {
  display:flex;
  background-color:SaddleBrown;
  width:90%;
  height:20em;
  border-radius:3em;
  padding:2%;
  margin:auto;
  justify-content: flex-start;
}

.sidesection {
  display:flex;
  flex-grow:1;
}

.midsection {
  display:flex;
  flex-direction:column;
  flex-grow:6;
}

.midrow {
  display:flex;
  flex-grow:1;
}

.pot {
  position:relative;
  background-color:rgba(255, 255, 255, 0.1);
  flex-grow:1;
  margin:5px;
  border-radius:3em;
}